.sidenav {
    height: 100%;
    width: 300px;
    padding: 0 16px;
    color: #333;
    background-color: #fff;
    border-right: 1px solid #e2e4e6;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.17,.67,.83,.67);
    transition: -webkit-transform .2s cubic-bezier(.17,.67,.83,.67);
    transition: transform .2s cubic-bezier(.17,.67,.83,.67);
    transition: transform .2s cubic-bezier(.17,.67,.83,.67),-webkit-transform .2s cubic-bezier(.17,.67,.83,.67);
}